<%if events.any?%>
  <ul class="list">
    <%events.each do |event|%>
    <li class="list-item">
     <h4><%= event.title%></h4>
     <p><%= event.description%></p>
     <p><%= event.date.strftime('%B %d, %Y') %></p>
     <%= link_to '(Details)', event %>
    </li>
    <%end%>
  </ul>
<%else%>     
   <h2 class="no_event"> No events </h2>
<%end%>    