<%if @future.any? || @past.any?%>
  <h2>Future Events</h2>
  <%=render 'event_list', events: @future%>
  <h2>Past Events</h2>
   <%=render 'event_list', events: @past%>
<%else%>     
   <h2> No events </h2> 
<%end%>    